.time_1{
   position: absolute;
   top: 20px;
   right : 20px;
   font-style: oblique;
   font-size: 1.2em;
   color: rgb(133, 131, 131)
}

h3 {
   font-weight: bold
}

button {
   margin-left: 5px;
}